body {
    min-height: 100px; 
    height: 100px;
}
.wrapper {
    width: 400px; 
    margin: 0 auto; 
}
.bg-white { 
    background-color: #fff;
}
.header { 
    height: 100px;
    width: 400px; 
    background-color: #141f40;
}
.contents { 
    width: 400px;
    height: 250px;
}
.contents-left {
    float: left; 
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.contents-rigth {
    float:left;
    width: 250px;
    height: 250px;
    background-color: #8c2727
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}