<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<link rel="stylesheet" href="layout1.css">
<link rel="stylesheet" href="layout2.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

</head>
<body>
    <div id="wrapper"> <!-- 共通の処理 -->
        <header class="header"> 
           <h1>ヘッダー</h1>
        </header>
        <main class="main">
            <h2>メイン</h2> 
        </main>
        <footer class="footer">
            <h2>フッター</h2> 
        </footer>
   </div>
</body>
</html>